<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!--<add key="rutalog" value="C:/PROGRAMAS/GPPOFFLINE/log/"/>-->
    <add key="rutalog" value="C:/PROGRAMAS/GPLOFFLINEACTUALIZAR/log/"/>    
    <add key="SISTEMA_ESCOGIDO" value="PRODUCCION" />
    <add key="SAP_ESCOGIDO" value="DESARROLLO" />
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
    <!-- CADENAS DE CONEXION DE LAS DISTINTAS EMPRESAS-->
    <!--<add key="DESARROLLO" value="Data Source=172.22.24.15;DataBase=GPP;Connect Timeout=30;user=sa;password=;MultipleActiveResultSets=True" />
    <add key="PRODUCCION" value="Data Source=192.168.146.9;DataBase=GPL;Connect Timeout=30;user=alfonso.tolosa;password=n6pmW80;MultipleActiveResultSets=True" />
    <add key="PRODUCCIONPERSEIDA" value="Data Source=172.22.24.62;DataBase=GPP;Connect Timeout=30;user=consultas_local_w;password=Br!3dig?t;MultipleActiveResultSets=True" />-->
    <add key="PRODUCCION" value="Data Source=192.168.146.9;DataBase=GPL;Connect Timeout=30;user=usrdbconn;password=sql2sap;MultipleActiveResultSets=True"/>
    <!--<add key="WS_Per_Pro" value="http://ATENEA:8000/sap/bc/srt/rfc/sap/zws_wm/200/zws_wm/zws_wm_bnd" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Resolucion_Ancho" value="1400" />
    <add key="Resolucion_Largo" value="900" />
  </appSettings>
</configuration>